################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/logs/*
/bin/Debug
/obj
/formats/*
/bin/Release
/todo.txt
