################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/logs/*
/bin/Debug
/obj
/formats/*
/bin/Release
/todo.txt
/packages/Newtonsoft.Json.9.0.1
/config.json
/packages/Newtonsoft.Json.12.0.3
